@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


*, *:before, *:after{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

body{
    padding: 0;
    margin: 0;
    overflow-y: hidden;

    .page-heading, h1, .page-header{
        font-size: $heading-fsize-m;
        font-family: $body-font;
        font-weight: $bold ;
        color: $primary-blue;
        border-bottom: none;
        margin-top: 0;

        @include medium-up {
            font-size: $heading-fsize;
        }
    }

    .section-heading {
        font-family: $body-font;
        font-weight: $bold;
        color: $primary-blue;
        font-size: $section-heading-fsize-m;
        margin: 0;
        

        @include medium-up {
            font-size: $section-heading-fsize;
        }
    }

    .page {
        position: fixed;
        height: calc(100vh - $sidebar-width);
        //height: 100vh;
        scrollbar-width: none;
        overflow-y: auto;
        position: relative;
        background: white;
        top: $sidebar-width;
        left: 0;
        width: 100%;
        //.top: $sidebar-width;
        bottom: 0;
        transition: all 0.5s ease;
        z-index: 2;
        padding: $padding-m;

        .text {
            display: inline-block;
            color: $primary-blue;
            font-size: 25px;
            font-weight: 500;
            margin: 18px;
        }

        @include medium-up {
            padding: $padding;
            left: $sidebar-width;
            width: calc(100% - $sidebar-width);
            height: 100vh;
            top: 0;
            margin-bottom: 0;
        }
    }
}

