// COLORS
$primary-blue: rgba(46, 61, 77, 1);
$primary-blue-selected: rgba(116, 154, 197, 1);
$primary-blue-transparent: rgba(51, 65, 81, 0.66);
$primary-flamingo: rgba(239, 83, 80, 0.88);
$super-light-grey: rgba(245, 245, 245, 1);
$light-grey: rgba(237, 237, 237, 1);
$medium-grey: rgba(217, 217, 217, 1);
$dark-grey: rgba(180, 180, 180, 1);

// TYPOGRAPHY
// Fonts
$body-font: 'Nunito Sans', sans-serif;
$number-font: 'Montserrat', sans-serif;
// Weights
$normal: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;
// Sizes
$heading-fsize: 32px;
$section-heading-fsize: 18px;
$subtitle: 16px;


