// COLORS
$primary-blue: rgba(51, 65, 81, 1);
$primary-blue-transparent: rgba(51, 65, 81, 0.66);
$primary-blue-dark: rgba(46, 61, 77, 1);
$accent-flamingo: rgba(239, 83, 80, 1);
$accent-flamingo-transparent: rgba(239, 83, 80, 0.88);
$accent-flamingo-super-transparent: rgba(215, 80, 239, 0.19);
$accent-background: rgba(239, 83, 80, 0.19);
$super-light-grey: rgba(245, 245, 245, 1);
$light-grey: rgba(237, 237, 237, 1);
$medium-grey: rgba(217, 217, 217, 1);
$dark-grey: rgba(180, 180, 180, 1);

// TYPOGRAPHY
// Fonts
$body-font: 'Nunito Sans', sans-serif;
$number-font: 'Montserrat', sans-serif;
// Weights
$normal: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;
// SIZES
$button-padding: 28px;
// Mobile
$border-width-m: 1.8px;
$heading-fsize-m: 22px;
$section-heading-fsize-m: 18px;
$content-fsize-m: 12px;
$button-fsize-m: 12px;
$subtitle-fsize-m: 14px;
$padding-m: 20px;
// Web
$border-width: 2px;
$heading-fsize: 24px;
$section-heading-fsize: 18px;
$content-fsize: 14px;
$button-fsize: 14px;
$subtitle-fsize: 16px;
$padding: 22px;

$sidebar-width: 78px;
$sidebar-width-open: 250px;
$panel-width: 300px;


