@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
   
.cnavbar {
    transition: all 0.5s ease;

    &__bar {
        overflow: hidden;
        background-color: $primary-blue;
        position: fixed;
        top: 0;
        z-index: 2000;
        width: 100%;
        height: $sidebar-width;
        padding: 11px $padding-m;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
    }
    

    &__logo {
        width: 151px;
        height: 38px;
        cursor: pointer;
    }

    &__hamburger {
        color: white;
        font-size: 26px;
        cursor: pointer;
    }

    &__navlist-wrapper {
        //display: none;
        visibility: hidden;
        transition: visibility 0s;
        //height: 0;
    }


    &__background {
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 0;
        transition: all 0.4s ease;
        background-color: $primary-blue;
    }

    &__navlist {
        position: absolute;
        z-index: 1001;
        width: 100%;
        padding: $padding-m;
        padding-bottom: $sidebar-width;
        opacity: 0;
        transition: all 0.2s ease;

        li {
            
            list-style: none;
            height: auto;
            transition: 0.4s;
            display: flex;
            align-items: center;
            width: 100%;

            i {
                color: #fff;
                height: 60px;
                min-width: 50px;
                font-size: 18px;
                text-align: center;
                line-height: 60px;
            }
        
            a {
                text-decoration: none;
                font-family: $body-font;
                font-size: $button-fsize-m;
                font-weight: $bold;
                color: white;
                font-size: 15px;
                font-weight: 400;
                white-space: nowrap;
                align-items: center;
                width: 100%;
            }

        }

        .nav_item {
            cursor: pointer;
            border-radius: 11px;
            margin: 8px 0;

            &:hover {
                background-color: white;

                a {
                    transition: all 0.5s ease;
                    color: $primary-blue;
                }

                i {
                    transition: all 0.5s ease;
                    color: $primary-blue;
                }
            }
        }

        .li--active {
            transition: all 0.5s ease;
            background: $accent-flamingo-super-transparent;

            .links_name {
                color: $accent-flamingo;
            }

            i {
                color: $accent-flamingo;
            }
        }
    }

    &__profile {

        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2000;
        height: 60px;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 10px $padding-m;
        background: $primary-blue-dark;
        overflow: hidden;
        opacity: 0;
        transition: all 0.1s ease;
        transition-delay: 0s;

        .profile__name {
            font-size: 15px;
            font-weight: 400;
            color: #fff;
            white-space: nowrap;
        }

        .profile__email {
            font-size: 15px;
            font-weight: 400;
            color: #fff;
            white-space: nowrap;
            font-size: 12px;
        }

        #nav_log_out {
            cursor: pointer;
            position: relative;
            right: 0;
            border-radius: 0px;
            font-size: 20px;
            color: white;
        }
    }

    @include medium-up {
        display: none;
    }
}

.cnavbar.open {
    .cnavbar__navlist-wrapper {
        //display: block;
        visibility: visible;
        
        .cnavbar__background {
            height: 100%;
            transition: all 0.2s ease;
        }

        .cnavbar__navlist {
            opacity: 1;
            transition: all 0.5s ease;
        }

        .cnavbar__profile {
            opacity: 1;
            transition: all 2s ease;
        }
    }
}
